body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6f6764;
}

.container {
    background-color: #fff8e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.profile {
    margin-bottom: 20px;
    margin-top: 400px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
    border: 1px solid #000;
}

.profile h1 {
    font-size: 18px;
    margin: 8px 0 3px;
}


.social-links {
    text-align: center;
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.social-links a:hover {
    color: #0073e6;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 10px;
}

button.prev, button.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.map-container {
    margin: 20px 0;
    max-width: 400px;
    width: 100%;
}

.whatsapp-bar {
    background-color: #25d36500;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
}

.footer {
    background-color:  #fff8e7;;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    max-width: 400px;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 16px;
    font-family: serif;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #2e242d;
    font-size: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #0073e6;
}
